<!-- ======= Works Section ======= -->
    <section class="section training_dairy">
      <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Неделя 3</h2>
            <p class="mb-0">День 1</p>
          </div>
          <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">День 1</a>
              <a href="#" data-filter=".web">День 2</a>
              <a href="#" data-filter=".design">День 3</a>
            </div>
          </div>
        </div>

      <table class="table table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Упражнение</th>
            <th scope="col">Вес</th>
            <th scope="col">Повт-я</th>
            <th scope="col">Подх.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Румынская тяга</th>
            <td>20</td>
            <td>10</td>
            <td>3</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">Тяга штанги в наклоне</th>
            <td>70</td>
            <td>10</td>
            <td>3</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">Жим лежа узким хватом</th>
            <td>40</td>
            <td>10</td>
            <td>2</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">Подтягивания</th>
            <td>5</td>
            <td>10</td>
            <td>2</td>
          </tr>
          <tr class="table-success">
            <th scope="row">Жим лежа</th>
            <td>40</td>
            <td>10</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </section><!-- End  Works Section -->


  </main><!-- End #main -->