


<div class="container-fluid d-flex align-items-center justify-content-between">
    <a href="{% url 'my_programs' %}" class="logo d-flex align-items-center scrollto me-auto me-lg-0"><h1>ДневникТренировок<span>.</span></h1>
    </a>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="{% url 'my_programs' %}">Мои программы</a></li>
            <li><a class="nav-link scrollto" href="{% url 'programs_create' %}">Составить программу</a></li>
            <li><a class="nav-link scrollto" href="index.html#services">Упражнения</a></li>
            <li><a class="nav-link scrollto" href="index.html#portfolio">Войти</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav>
</div>