{% for el in weeks %}
  <div class="col-lg-6">
    <article class="d-flex flex-column">
      <h2 class="title">
        <a href="{% url 'my_programs' %}">{{ el.training_weeks__name_of_week }}</a>
      </h2>
      <div class="meta-top">
        <ul>
          {% if el.training_weeks__week_finished %}
            <li class="d-flex align-items-center"><i class="bi bi-check-circle"></i> <a href="{% url 'my_programs' %}">Завершена</a></li>
          {% else %}
            <li class="d-flex align-items-center"><i class="bi bi-play-circle"></i> <a href="{% url 'my_programs' %}">В процессе</a></li>
          {% endif %}
        </ul>
      </div>
    </article>
  </div>
{% endfor %}

