{% extends 'main/base.html' %}
{% block main %}
  {% include 'main/inc/_breadcrumbs.html' %}
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row g-5">
        <div class="col-lg-8">
          <div class="row gy-4 posts-list">
            {% include 'main/inc/_programs_list_card.html' %}
          </div>
          {% include 'main/inc/_pagination.html' %}
        </div>
        <div class="col-lg-4">
          {% include 'main/inc/_sidebar.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
